<center><h1><u>Syndicate Bank Valanchery Branch</u></h1>
	<u><h2>List of Customers</h2></u>
	<table>
		<thead> 
			<th bgcolor="violet"><%= link_to "Customer ID", :sort => "id" %></th>
			<th bgcolor="violet"><%= link_to "NAME", :sort => "name" %></th>
			<th bgcolor="violet"><%= link_to "BALANCE", :sort => "balance" %></th>
			<th bgcolor="violet"><%= link_to "AGE", :sort => "age" %></th>
			<th bgcolor="violet"><%= link_to "ATM", :sort => "atm" %></th>
			<th bgcolor="violet"><%= link_to "MOBILE Banking", :sort => "mobile" %></th>
			<th bgcolor="violet"><%= link_to "NET Banking", :sort => "net" %></th>
			<th bgcolor="violet"><%= link_to "SMS", :sort => "sms" %></th>
			<th bgcolor="violet"><%= link_to "CDM", :sort => "cdm" %></th>
		
			

		</thead>
<% @customers.each do |customer| %>
	
		<tbody>
	<tr>
		<td bgcolor="#C7ADAD"><h3><%= customer.id %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.name || "Not filled" %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.balance || "Not filled" %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.age || "Not filled" %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.atm.present? %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.mobile.present? %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.net.present? %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.sms.present? %></h3></td>
		<td bgcolor="#F3CDCD"><h3><%= customer.cdm.present? %></h3></td>
		<td bgcolor="#F3CDCD"><h3><% customer.marker %></h3></td>

	</tr>
</tbody>
	
<% end %>
</table>
</center>
		
