<h1>Drivers#new</h1>
<p>Find me in app/views/drivers/new.html.erb</p>


<%= form_for @driver do |f| %>




<div>
	<%= f.label :first_name %><br>
	<%= f.text_field :first_name %>
</div>
<div>
	<%= f.label :last_name %><br>
	<%= f.text_field :last_name %>
</div>
<div>
	<%= f.label :ATM %><br>
	<%= check_box_tag :last_name %>
</div>

<%= f.submit %>
<% end %>
