<center><h1>Customer DATA CREATION</h1></center>



<%= form_for @customer do |f| %>
<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div>
	<%= f.label :balance %>
	<%= f.text_field :balance %>
</div>
<div>
	<%= f.label :age %>
	<%= f.text_field :age %>
</div>

<div>
	<%= f.label :ATM %>
	<%= f.check_box :atm %>
</div>
<div>
	<%= f.label :mobile %>
	<%= f.check_box :mobile %>
</div>

<div>
	<%= f.label :net %>
	<%= f.check_box :net %>
</div>

<div>
	<%= f.label :sms %>
	<%= f.check_box :sms %>
</div>

<div>
	<%= f.label :cdm %>
	<%= f.check_box :cdm %>
</div>


<%= f.submit %>
<% end %>
</center>